.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 2px;
}

.cell {
  width: 30%;
  flex-grow: 1;
  height: 100px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  cursor: pointer;
}

form {
  margin-top: 20px;
}

.control {
  display: block;
}


